<form method="post" enctype="multipart/form-data" action="/Product/UploadImage">
    <input type="file" name="file" accept="image/*" required />
    <button type="submit">Upload Image</button>
</form>
