@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to ABC Retail!</h1>
    <p class="lead">Manage customers, products, and media all in one place.</p>
    <hr class="my-4">
    <p>Get started by adding customer profiles and products.</p>
    <a class="btn btn-primary btn-lg" href="/CustomerProfile/Index" role="button">View Customers</a>
    <a class="btn btn-success btn-lg" href="/Product/Index" role="button">View Products</a>
</div>